{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Card deck draw card</h1>

<p>You drew: {{ hand }}</p>

<p>Cards left in deck: </p>


<br>
<br>
{% endblock %}