{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Card game</h1>

<p>This is a classical card game.<br>
    <a href="https://en.wikipedia.org/wiki/Standard_52-card_deck"> 
        About a standard 52-card deck on Wikipedia.</a>
</p>

<h3>Classes</h3>
<table style="width:100%">
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Card</td>
      <td>This class says that a card will have a color(suit) and a value.</td>
    </tr>
    <tr>
      <td>CardDeck</td>
      <td>This class says which colors and how many values that will be created for a complete deck.
        This is used to draw cards from the deck. Since I didnt manage to build CardHand, the draw is done by removing from the deck and show those cards but it will not add cards into a hand.
      </td>
    </tr>
    <tr>
        <td>CardHand</td>
        <td>...</td>
    </tr>
    <tr>
        <td>CardGraphic</a></td>
        <td>Not implemented yet. I was planning to create this but 
          since the assignment took so long I opted for the easy way and just changed the "color" assignment in the CardDeck class.
        </td>
    </tr>
</table> 

<h3>UML class diagram with IMG</h3>
<p>...</p>

<h3>Sub-pages for the game</h3>

<table style="width:100%">
    <tr>
      <th>Link</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><a href="{{ path('deck') }}">card/deck</a></td>
      <td>Shows all cards of the deck sorted by suit and value.</td>
    </tr>
    <tr>
      <td><a href="{{ path('deck_shuffle') }}">card/deck/shuffle</a></td>
      <td>Shuffles the cards and displays all cards of the deck.</td>
    </tr>
    <tr>
        <td><a href="{{ path('deck_draw') }}">card/deck/draw</a></td>
        <td>Draws a card from the deck and shows the remaining deck.</td>
    </tr>
    <tr>
        <td><a href="{{ path('deck_draw') }}/5">card/deck/draw/:number</a></a></td>
        <td>Draws a number of cards that is selected through the path. It also 
          shows the number of cards remaining in the deck. The example draws 5 cards 
          you can adjust the path to choose another number.
        </td>
    </tr>
    </table>


<br>
<br>
{% endblock %}