{% extends "base.html.twig" %}

{% block title %}Game 21{% endblock %}

{% block main %}
{% block gamemain %}
<div class="twenty_one_game">
<h1>Game 21</h1>

<p>About the game:<br>
    <a href="https://sv.wikipedia.org/wiki/Tjugoett_(kortspel)"> 
        21 - Twenty One</a>
</p>

<form method="post" action="">
  <p>
      <input type="submit" name="startgame" value="Start the game"
      onClick="this.form.action='{{ path('playing_player') }}';this.form.method='get';"
      >
  </p>
</form>



</div>
{% endblock %}
{% endblock %}