{% extends "base.html.twig" %}

{% block title %}Dice{% endblock %}

{% block body %}

<div class="lucky-text">
    <h1>Rolling dice 3 times</h1>
        <li>1. {{ dicethrow }}</li>
</div>  


{% endblock %}
