{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Home of sosw22</h1>

    <p>This is my homepage for the MVC course and here's is a brief presentation of me:</p>

    <p>I'm a mom and a wife, a sister and a daugther. My family means everything to me.
        I was born and raised on the west coast of Sweden but I'm in my element if there are mountains to ski
        or good waves to surf. 
    </p>
    <p>To be continued...</p>
    <a href="{{ asset('img/paper_unicorn.png') }}">
        <img src="{{ asset('img/paper_unicorn.png') }}" alt="unicorn">

{% endblock %}
