{% extends "base.html.twig" %}

{% block title %}Kmom's{% endblock %}

{% block main %}
    <h1>Links to some assignments</h1>


<h2><a id="#kmom01">Kmom01</a></h2>
<ul>
    <li><a href="{{ 'api/quote' }}">Quote</a></li>
    <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
</ul>

<h2><a id="#kmom02">Kmom02</a></h2>
<ul>
    <li><a href="{{ 'game/pig' }}">Pig Game</a></li>
    <li><a href="{{ 'game/card' }}">Card Game</a></li>
</ul>

<h2><a id="#kmom03">Kmom03</a></h2>

<h2><a id="#kmom04">Kmom04</a></h2>

<h2><a id="#kmom05">Kmom05</a></h2>

<h2><a id="#kmom06">Kmom06</a></h2>

<h2><a id="kmom07-10">Kmom07-10</a></h2>


    </a>
{% endblock %}
