{% extends "base_quote.html.twig" %}

{% block title %}Quote{% endblock %}

{% block body %}
<div class="quote-text"><h1>Quote of the day</h1>

<p>Your lucky number is: {{ number }}</p>
</div>
{% endblock %}
