{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
    <h1>Report: Where I write about the assignments</h1>


<h2><a id="#kmom01">Kmom01</a></h2>

<p>Jag upplever att mina kunskaper när det gäller objektorientering 
är i ett inledande stadie. Jag har alltså inte riktigt
lärt mig vad objektorientering innebär ännu och när det gäller både Javascript och PHP 
så arbetar jag med att lära mig grunderna. Jag googlade objektorientering för 
att kunna svara på den här frågan och fick då lära mig att PHP i viss mån är ett objektorienterat språk.
</p>
<p>
Jag läste ett exempel som jag skall försöka återge med egna ord.
En klass är som en ritning och byggbeskrivning för ett hus. 
Klassen förklarar både storlek, mått och hur husets olika delarna 
är sammankopplade. Ett objekt är då när man tagit klassen och byggt ihop huset.
Jag tänker att det man behöver förstå för att komma igång är hur man 
tar fram enkla ritningar och beskrivningar samt hur man sedan tar det 
vidare till ett bygge.
</p>
<p>
I uppgiften så skapar vi router och templates med symfony, encore och twig.
Jag tyckte att det stod tydlig beskrivet hur de olika delarna i assets-directoryt 
fungerar. Såhär i början av att arbeta med ett bytt ramverk så 
behöver jag lite tid för att komma in i hur delarna hänger ihop. Dock tycker 
jag att det gick mycket snabbare jämfört med Design-kursen. Det märks 
hur man utvecklas i att komma igång med nya saker inom programmeringen.
</p>
<p>
När jag scrollar igenom artikeln "PHP The Right Way" så tänker jag att 
det är väldigt mycket, och ett rejält kliv ifrån det som jag hittils 
har avhandlat. Jag har svårt att hitta något som jag direkt kan tänka är 
intressant eller värdefullt. Kanske hade man känt det om detta var 
den 7:e/8:e kursen eller om man haft mycket tid att fördjupa sig under 
de tidigare kurserna. 
</p>
<p>
TIL för detta kmom: Jag skall försöka låta mitt lärande ta tid under 
den här kursen. Eftersom det tagit ganska lång tid för mig att komma igång 
så känner jag redan nu att jag nog kommer få satsa på att göra klart 
kursen under sommaren. Då kan jag också ge mig själv tid att fördjupa mig 
och göra extra uppgifter. 
</p>

<h2><a id="#kmom02">Kmom02</a></h2>

<p>Jag tycker att det funkar ganska bra att arbeta med Symfony. 
    I början kändes det rörigt framförallt förstod jag inte logiken för hur/var funktioner skulle skrivas.
    Nu har jag känt att ramverket gör att det känns smidigare/roligare att arbeta med PHP, jämfört med vad jag upplevde i Webtec-kursen när vi arbetade med PHP.
    Sedan den 11:e april har jag arbetat med KMOM02 och likt i förra kursen så
    har det varit svårt att arbeta med funktioner. Jag känner inte att jag kom ihåg tillräckligt 
    mycket från Webtec och jag förstod inte heller där hur vi arbetade med loopar och arrayer. Det var bara 
    något som jag tog mig igenom med nöd och näppe. 
    I den förra läsperioden gjorde jag övningar på W3schools och Codecademy i Javascript och de senaste veckorna 
    så har jag gjort det i PHP.
</p>

<p>Arv: Handlar om att en klass ärver, alltså får egenskaper från en annan klass.
I PHP implementerar man arv genom nyckelordet "extends" vilket utökar den klass som man skapar med en som man tidigare skapat.</p>

<p>Komposition: Innebär en stark koppling mellan två klasser och att klassen inte kan existera utan den andra klassen.
Genom att till exempel använda Dice för att skapa upp tärningar i DiceHand så använder man komposition.
</p>

<p>Interface: Istället för att använda klass-keyword så kan man använda interface. 
    Då kan man skapa kod som säger vilka metoder som en klass måste implementera.
</p>

<p>Trait: består av metoder och medlemsvariabler som kan användas för att utöka en klass. 
Tack vare denna konstruktion så kan klasser i PHP ärva från flera basklasser.
</p>

<p>Just nu ser jag inget förbättringspotential. Jag är väldigt 
nöjd med att ha tagit mig någorlunda igenom uppgiften och hoppas på 
antingen godkänt eller att jag får bra feedback från rättningsteamet så 
att jag förstår hur jag skall komma i mål!</p>

<p>TIL för detta KMOM: Ja hur skall man egentligen sammanfatta detta med tanke 
på att jag kämpat i 7 veckor med kursmomentet? Jag har bett om hjälp 
vid några tillfällen men för mig har det mest varit att försöka gå tillbaka 
och lära mig grunderna. Om man missförstått någonting grundläggande 
så kan man bygga vidare på förvirring vilket gör att ens tålamod prövas 
och förbättras :)</p>


<h2><a id="#kmom03">Kmom03</a></h2>
<p>Write 15-30 sentences about this weeks assignment</p>

<h2><a id="#kmom04">Kmom04</a></h2>
<p>Write 15-30 sentences about this weeks assignment</p>

<h2><a id="#kmom05">Kmom05</a></h2>
<p>Write 15-30 sentences about this weeks assignment</p>

<h2><a id="#kmom06">Kmom06</a></h2>
<p>Write 15-30 sentences about this weeks assignment</p>

<h2><a id="kmom07-10">Kmom07-10</a></h2>
<p>Write 15-30 sentences about this weeks assignment</p>

    <p>An image which can be clicked on.</p>
    <a href="{{ asset('img/glider.svg') }}">
        <img src="{{ asset('img/glider.svg') }}" alt="">
    </a>
{% endblock %}
